$black: #293240;
$yellow: #fcf063;
$rose: #fd5964;
$fucsia: #e61572;
$red:#e61715;
$orange:#ef4100;
$orangee: #fa6600;
$mustard:#f57a00;
$gold:#ffbf3d;
$green: #87bf21;
$cyan: #40e7d4;
$turquoise: #19a79d;
$sky: #1e8bd3;
$ocean: #296eff;
$blue: #0811ee;
$purple:#9530ff;
$violet: #6200d7;





// FONTS
$fira: 'Fira Sans', sans-serif;
$arimo: 'Arimo', sans-serif;



@import "others/default";
@import "others/themes";